<div>
    <h1>My Info</h1>
    <p ng-if="!myInfoCtrl.userInfo">Not Signed Up Yet. <a href="#/signup">Sign up Now!</a></p>
    <div ng-if="myInfoCtrl.userInfo">
      <p>First Name: {{ myInfoCtrl.userInfo.firstName }}</p>
      <p>Last Name: {{ myInfoCtrl.userInfo.lastName }}</p>
      <p>Email: {{ myInfoCtrl.userInfo.email }}</p>
      <p>Phone: {{ myInfoCtrl.userInfo.phone }}</p>
      <div ng-if="myInfoCtrl.favoriteDish">
        <h3>Favorite Dish</h3>
        <img ng-src="{{ myInfoCtrl.favoriteDish.image_url }}" alt="{{ myInfoCtrl.favoriteDish.name }}">
        <p>Name: {{ myInfoCtrl.favoriteDish.name }}</p>
        <p>Description: {{ myInfoCtrl.favoriteDish.description }}</p>
      </div>
    </div>
  </div>
  